.projects {
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
}

.projects .projects__content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--secondary-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.568), var(--dark-secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease-in-out
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
    color: whitesmoke;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: whitesmoke;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--primary-color);
}

.button {
    background-color: var(--dark-secondary-color);
    color: var(--white);
    font-weight: 400;
    font-size: 1.4rem;
    background-color: none;
    border: none;
    outline: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-layer h4 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
    }

}